.sale_start_container{
    display:flex;
    display:none;
}
.from_company_container{
    width:50%;
    font-size:14px;
}

button{
    border-radius:5px;
    font-size:10px;
}

button:hover{
    cursor: pointer;
}

.to_comapny_container{
    width:50%;
}

.justify-content-center{
    /* display:none; */
}
iframe{
    transform:scale(0.75);
    -o-transform:scale(0.75);
    -webkit-transform:scale(0.75);
    -moz-transform:scale(0.75);
    -ms-transform:scale(0.75);
    transform-origin:0 0;
    -o-transform-origin:0 0;
    -webkit-transform-origin:0 0;
    -moz-transform-origin:0 0;
    -ms-transform-origin:0 0;
}
#sales_letter_set{
    display: none;
}

.table-condensed > thead > tr > th,
.table-condensed > tbody > tr > th,
.table-condensed > tfoot > tr > th,
.table-condensed > thead > tr > td,
.table-condensed > tbody > tr > td,
.table-condensed > tfoot > tr > td {
  padding: 5px;  /* 5px の値を変更 */
}

p{
    line-height: 1em;
}

tr{
    line-height: 1em;
}